.Badge {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  top: -5px;
  right: -5px;

  font-size: 10px;

  width: 15px;
  height: 15px;

  border-radius: 50%;

  background-color: #dd4446;
  color: #fff;
}
